Arsenal tweets analysis before and after some games

In [1]:
# For sending GET requests from the API
import requests
# For saving access tokens and for file management when creating and adding to the dataset
import os
# For dealing with json responses we receive from the API
import json
# For displaying the data after
import pandas as pd
# For saving the response data in CSV format
import csv
# For parsing the dates received from twitter in readable formats
import datetime
import dateutil.parser
import unicodedata
#To add wait time between requests
import time
import tweepy   
from credentials import *
import requests

In [2]:
import tweepy

auth = tweepy.AppAuthHandler(API_KEY, API_SECRET_KEY)
api = tweepy.API(auth)

In [10]:
query = "#Arsenal -filter:retweets until:2022-02-25 since:2022-02-24"

tweets= tweepy.Cursor(api.search_tweets, query,
                            count=100, lang='en').items(10000)

#tweets = api.search_tweets(q=query, lang="en",count=100)

my_list_of_dicts = []
for each_json_tweet in tweets:
    my_list_of_dicts.append(each_json_tweet._json)
    
with open('Arsenat_hashtag.txt', 'w') as file:
    file.write(json.dumps(my_list_of_dicts, indent=4))

Ars_hashtag=pd.json_normalize(my_list_of_dicts)
Ars_hashtag

,created_at,id,id_str,text,truncated,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quoted_status.place.id,quoted_status.place.url,quoted_status.place.place_type,quoted_status.place.name,quoted_status.place.full_name,quoted_status.place.country_code,quoted_status.place.country,quoted_status.place.contained_within,quoted_status.place.bounding_box.type,quoted_status.place.bounding_box.coordinates
0,Thu Feb 24 23:58:33 +0000 2022,1496998010978549767,1496998010978549767,"Great effort from #Arsenal tonight , it was tense, lots of #Wolves time-wasting, but we got our just rewards.… https://t.co/Twn2GLzpzy",True,"<a href=""http://twitter.com/download/android"" rel=""nofollow"">Twitter for Android</a>",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Thu Feb 24 23:58:09 +0000 2022,1496997910789390336,1496997910789390336,"What a night, such joy, such mad mental atmosphere, one of the best games for years. Wolves with their cheating, fa… https://t.co/EmYn3XnaGR",True,"<a href=""http://twitter.com/download/android"" rel=""nofollow"">Twitter for Android</a>",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Thu Feb 24 23:57:28 +0000 2022,1496997740085137408,1496997740085137408,A+ assured in your academic work.\nExcel in:\n#Chemistry\n#MsAccess\n#Technology\n#Codingprojects\n#Computerscience… https://t.co/Ns7mIj3ppJ,True,"<a href=""https://help.twitter.com/en/using-twitter/how-to-tweet#source-labels"" rel=""nofollow"">Norton Tutors</a>",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thu Feb 24 23:57:27 +0000 2022,1496997735437844484,1496997735437844484,I just want to to follow De.gunners players tonight.\n#Arsenal\n#SayNoToWar.,False,"<a href=""http://twitter.com/download/android"" rel=""nofollow"">Twitter for Android</a>",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Thu Feb 24 23:56:01 +0000 2022,1496997375071641602,1496997375071641602,This doesn’t surprise me whatsoever. So solid at the back. Remarkable that Arsenal turned that around tonight.… https://t.co/i483h5BBnC,True,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4159,Thu Feb 24 00:05:23 +0000 2022,1496637341586403336,1496637341586403336,SOCCER PUNCH: Arteta “really happy” at Arsenal (Fabrizio Romano) https://t.co/moRvXBrczX #Arsenal #fabrizioromano #ARSWOL #COYG #gunners,False,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4160,Thu Feb 24 00:03:52 +0000 2022,1496636961318219781,1496636961318219781,"Arteta on choosing the next captain: ""There will be a thorough process in the summer, when we have time, when we ha… https://t.co/cvpASzXBin",True,"<a href=""http://twitter.com/download/android"" rel=""nofollow"">Twitter for Android</a>",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4161,Thu Feb 24 00:03:12 +0000 2022,1496636791985741827,1496636791985741827,JustArsenal News ‘I am surprised’ – Club legend believes Arsenal star isn’t given enough https://t.co/XAKdlylgzp\n#afc #JustArsenal #Arsenal,False,"<a href=""http://justarsenal.com"" rel=""nofollow"">Just Arsenal News </a>",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4162,Thu Feb 24 00:02:26 +0000 2022,1496636601820229635,1496636601820229635,"Tickets available for Arsenal Vs Wolves 2 singles and a pair available,can pdf send to email or meet tommorow at th… https://t.co/4lZzebjoTJ",True,"<a href=""http://twitter.com/download/android"" rel=""nofollow"">Twitter for Android</a>",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4163,Thu Feb 24 00:01:30 +0000 2022,1496636364393267200,1496636364393267200,TBF that transfer was probably ruined the second the rumour started... #Arteta #Arsenal https://t.co/J5bVVJ5kYF,False,"<a href=""http://twitter.com/download/android"" rel=""nofollow"">Twitter for Android</a>",NaN,None,NaN,None,...,3a8a2c667faaf9ba,https://api.twitter.com/1.1/geo/id/3a8a2c667faaf9ba.json,city,Exeter,"Exeter, England",GB,United Kingdom,[],Polygon,"[[[-3.568747, 50.693458], [-3.461006, 50.693458], [-3.461006, 50.7484216], [-3.568747, 50.7484216]]]"

In [11]:
len(Ars_hashtag)

4164

In [15]:
import spacy

In [19]:
from spacy.lang.en.examples import sentences 

nlp = spacy.load("en_core_web_sm")

In [46]:

nlp = eng_spacysentiment.load()
new_df=pd.DataFrame()
for index, row in Ars_hashtag[:5].iterrows():
    doc=nlp(row[3])
    new_df.loc[index, "Tweet"]=row[3]
    print(doc.cats)
    new_df.loc[index, "Positive"]=doc.cats["positive"]
    new_df.loc[index, "negative"]=doc.cats["negative"]

{'positive': 0.12018251419067383, 'negative': 0.879817545413971}
{'positive': 0.9646689891815186, 'negative': 0.035331010818481445}
{'positive': 0.9999996423721313, 'negative': 3.403946493563126e-07}
{'positive': 1.0, 'negative': 2.5275816994962952e-08}
{'positive': 0.9895318746566772, 'negative': 0.010468107648193836}

In [47]:
new_df

                                               Tweet  Positive      negative
0  Great effort from #Arsenal tonight , it was te...  0.120183  8.798175e-01
1  What a night, such joy, such mad mental atmosp...  0.964669  3.533101e-02
2  A+ assured in your academic work.\nExcel in:\n...  1.000000  3.403946e-07
3  I just want to to follow De.gunners players to...  1.000000  2.527582e-08
4  This doesn’t surprise me whatsoever. So solid ...  0.989532  1.046811e-02